@import '../Helpers/mixin';
@import '../Helpers/variabler';

section {


    h2 {
        text-align: center;
        font-size: 3vh;
        font-family: $textFont;
    }

    a {
        text-align: center;
        font-size: 2vh;
        text-decoration: none;
        color: $black;
    }



    .reviews {

        margin-right: -10%;

        margin-left: -10%;
        background-color: $rosa;

        article {
            text-align: center;

            padding: 1em;

            p {
                font-style: italic;

                &:last-child {
                    font-size: 2vh;
                    font-style: normal;
                }
            }
        }
    }

    .newreviw {
        background-color: $black;
        color: #fff;
        margin-right: -10%;

        margin-left: -10%;

        .reviwform {
            margin: auto;
            width: 10vh;
            padding: 1em;

            span {
                display: inline;

                input {
                    background-color: #fff;
                    @include input;
                }

            }

            textarea {
                border: none;
                resize: none;
                display: block;
            }
        }

        //Message ved sendt form
        .formMessage {

            article {
                background-color: $black;

                padding: 1em;

                p {
                    text-align: center;
                    color: #fff;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .employees {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $textFont;
        margin: 10vh 20vh;

        figure {
            background-size: cover;
            width: 50vw;
            height: 50vh;
            position: relative;
            border: 1px solid $black;
            margin: 1em;

            figcaption {
                position: absolute;
                width: 100%;
                bottom: 0vh;
                background-color: rgba(255, 255, 255, 0.79);
                border-top: 1px solid $black;
                color: $black;

                h4 {
                    padding-left: 1em;
                    margin-bottom: 0;
                }

                p {
                    padding-left: 1em;
                    padding-bottom: 0;
                    margin: 0.3em 0;

                }

                span {
                    display: none;
                }
            }

            &:hover {
                figcaption {
                    background-color: rgba(0, 0, 0, 0.717);
                    color: #fff;
                }

                span {
                    display: inline;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.slider {
    background-image: url(../Images/slide1.jpg);
    background-size: cover;
    z-index: -1;
    height: 50vh;
}