@import '../Helpers/mixin';
@import '../Helpers/variabler';

//Viser liste over boligere
.houselist {
    @include sidepadding;
    @include figure;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;

    @media (width < $tablet) {
        margin: auto;
        padding-right: 0;
        padding-left: 0;

        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
    }

    a {
        color: $black;
        text-decoration: none;
    }

    figure {
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        margin: 0;


        &:hover {
            background-color: #e9dded98;
        }

        img {
            height: 20vh;
        }

        figcaption {

            h4 {
                padding-bottom: 0.5em;
            }

            p {
                padding: 0;
                margin: 0.2em;
            }

            span {
                display: grid;
                grid-template-columns: 5% 30% 20% 45%;

                p {
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}


//Boglig liste på forsiden
.favorites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include figure;
    margin-top: 5em;

    @media (width < $mobile) {
        margin-top: 13em;

    }

    @media (width < $tablet) {
        margin-top: 10em;

    }

    figure {
        width: 100%;
        height: 70%;
        cursor: pointer;
        background-color: transparent;

        @media (width < $mobile) {
            width: 80vw;
        }

        &:hover {
            background-color: #e9dded98;

        }

        figcaption {

            h4 {
                padding-bottom: 0.5em;
            }

            p {
                padding: 0;
                margin: 0.2em;
            }


        }

        span {
            display: grid;
            grid-template-columns: 5% 22% 20% 50%;


            p {
                &:last-child {
                    text-align: right;
                }
            }
        }
    }

}

//Detailje side
//Header image
.detailsheader {

    margin: -10% -1% -1%-1%;

    .detailsimage {
        border-bottom: 1em solid $black;
        width: 100%;
        height: 50vh;
    }
}

//Section wrapper fra detailsitems
.details {
    @include sidepadding;

    //Øverste del (gemmensigtig) i detalie siden
    .detailstop {
        @include glasseffect;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        // margin-top: -9em;
        border-bottom-left-radius: 0%;
        border-bottom: none;
        border-bottom-right-radius: 0%;
        padding-left: 5%;

        @media (width < $mobile) {
            display: block;
            margin-top: 0;
        }

        span {
            display: grid;
            grid-template-rows: auto auto auto auto;
            margin-bottom: 1em;



            &:nth-child(2) {

                display: grid;
                grid-template-columns: auto auto auto auto;
                margin: auto;


                svg {
                    border: solid 0.5px rgb(58, 58, 58);
                    background-color: rgba(255, 255, 255, 0.648);
                    margin: 0.5em;
                    border-radius: 50%;
                    padding: +.5em;
                    font-size: 1.5em;
                    cursor: pointer;

                    &:hover {
                        background-color: #fff;
                    }
                }
            }

            h3 {
                padding-bottom: 0.2em;
                margin-bottom: 0;
            }

            p {
                padding: 0.2em;
                margin: 0;

            }

        }
    }

    //Den midterste del (liste delen)
    .detailsmiddel {
        @include glasseffect;
        border-bottom-left-radius: 0%;
        border-bottom: none;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        padding-left: 5%;
        padding-right: 5%;


        // background-color: red;
        display: grid;
        grid-template-columns: 33% 35% 33%;

        @media (width < $mobile) {
            display: block;
            margin-top: 0;
        }

    }

    .detailscontent {

        display: grid;
        grid-template-columns: auto auto;
        padding-top: 1em;
        margin-bottom: 1em;
        padding-left: 5%;
        padding-right: 5%;
        @include glasseffect;

        border-top: none;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;

        p {
            white-space: pre-wrap;
        }
    }
}