@import '../Helpers/mixin';
@import '../Helpers/variabler';


.form {
    @include sidepadding;
    height: 100%;

    input {
        @include input;
        margin-left: 0;
        margin-bottom: 10px;
        padding: 5px 5px;
        display: block;
        width: 40%;
        height: 3vh;

    }

    //Style af knapper
    button {
        @include button;
        cursor: pointer;
        margin-right: 0.5em;
        margin-bottom: 0.5em;


    }
}