@import '../Helpers/mixin';
@import '../Helpers/variabler';

//Fuld navigation
.navWrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: $black;
    font-family: $navFont;
    color: #fff;
    margin: -1% -1% -1%-1%;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 33% 64%, 0 100%);
    position: relative;




    .navigation {
        position: relative;
        right: -55em;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: $black;
        width: 100%;
        z-index: 2;

        @media (width < $mobile) {
            display: none;
        }

        @media (width < $tablet) {
            right: -20em;
        }

        .ulwrapper {

            li {
                display: inline-block;
                padding: 1vw;

                a {
                    text-decoration: none;
                    font-size: 15pt;
                    color: #fff;

                    &:hover {
                        cursor: pointer;
                        color: $brown;
                    }

                    &:focus {
                        color: $brown;

                    }

                }

            }
        }


    }
}

//Størrelse og placering af wrapper
.burgerMenu {
    position: absolute;
    width: 5vw;
    height: 10vh;
    right: 2em;

    //Fjerner menuen når skærmen er str large
    @media (width > $mobile) {
        display: none;
    }

    //Fjerne x 
    .burgerMenuClose {
        display: none
    }

    //Placering og style af home 
    .burgerMenuHome {
        position: absolute;
        background-color: transparent;
        transition: .2s ease-in-out;
        height: 10vh;
        width: 5.5vw;
        color: $black;

        &:hover {
            cursor: pointer;
            color: #000;
        }
    }
}

//Størrelse af wrapper ved active
.burgerMenuActive {
    position: absolute;
    width: 4vw;
    height: 5vh;
    right: 2em;

    //Fjerne home icon
    .burgerMenuHome {
        display: none
    }

    //Placering og style af x 
    .burgerMenuClose {
        position: absolute;
        height: 10vh;
        width: 5.5vw;
        color: $black;
        background-color: transparent;
        transition: .2s ease-in-out;
        z-index: 5;

        &:hover {
            cursor: pointer;
            color: #000;
        }

    }
}

//Fjerner menuen når den ikke er active (|||)
.menu {
    display: none;
}

//Boksen der vises når burgermenu er active
.activeMenu {
    position: absolute;
    list-style: none;
    top: 5vh;
    width: 90%;
    padding: 1em;
    border: 1px solid #000;
    background-color: #000;
    z-index: 5;

    .navigationLinks {
        text-decoration: none;
        color: #fff;
        font-size: 1em;

        &:focus {
            color: $brown;
        }
    }


}

//Search 

.searchform {
    input {
        border-radius: 5px;
        border-right: none;
        padding: 0.5em;
        margin-right: 0;
    }

    button {
        background-color: rgb(212, 212, 212);
        padding: 0.5em;
        margin-left: -3px;
        border-left: none;
        @include button;
    }



}



.searchlist {

    margin-bottom: 10em;
    z-index: 3;
    background-color: $black;
    display: block;

    @include figure;


    figure {
        border-color: #fff;
        margin-left: 0;
        display: grid;
        grid-template-columns: auto auto;

        &:hover {
            color: $brown;
        }


        img {
            width: 5vh;
        }

        figcaption {
            display: grid;
            grid-template-columns: auto auto auto;
            font-size: 2vh;
            margin: auto;

            h4 {

                padding: 1em 0;

            }
        }
    }
}