@import '../Helpers/mixin';
@import '../Helpers/variabler';





.slider {
    position: absolute;
    top: -5vh;
    width: 100%;
    z-index: -10;

    img {

        width: 100%;
        height: 70vh;
    }

}