@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin glasseffect {
    background: rgba(255, 255, 255, 0.836);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);


}

@mixin sidepadding {
    padding-left: 10%;
    padding-right: 10%;
}

@mixin burgerX {
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}

@mixin input {
    border-radius: 5px;
    border: solid 1px #000;
    // display: block;
}

@mixin button {

    border-radius: 5px;
    cursor: pointer;
    color: #fff;

}

@mixin Checkmarks {

    /* Wrapper/label */
    .wrapper {
        display: block;
        position: relative;
        //Mellemrum mellem label text og checkbox
        padding-left: 2em;
        //Mellemrum mellem flere checkbokse
        margin-bottom: 0.5em;
        cursor: pointer;
        font-size: 22px;

        /* Fjerner browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Laver custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 4vh;
            width: 1.7vw;
            background-color: #000;
        }

        /*Checkmark versio 2*/
        .bluecheck {
            background-color: rgb(22, 22, 92);
            -webkit-box-shadow: 0px 0px 105px 7px rgba(45, 255, 196, 0.95);
            -moz-box-shadow: 0px 0px 105px 7px rgba(45, 255, 196, 0.95);
            box-shadow: 0px 0px 5px 2px #2dffc4cc;
            border-radius: 10px;
        }

        /* Gør vi kan check af og på (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Vis checkmark når den er check */
        /* Tilde = subsequent-sibling combinator (efterfølgende-søskende kombinator)
Adskiller to sammensatte selectors . De elementer, der er repræsenteret af de to sammensatte selectors,
har det samme parent element. Den første selectors  går forud (men ikke nødvendigvis med det samme) 
det element, der er repræsenteret af den anden selectors .
*/
        input:checked~.checkmark:after {
            display: block;
        }

        /* Style checkmark */
        .checkmark:after {
            left: 1.3vh;
            top: 0.8vh;
            width: 5px;
            height: 10px;
            //Checkmark farve
            border: solid white;
            //Giver L formen
            border-width: 0 3px 3px 0;
            //Laver L om til flueben form med animation hvor vi laver transform (se helpers)
            -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

        }

        .bluecheck:after {
            left: 1.3vh;
            top: 0.8vh;
            width: 5px;
            height: 10px;
            //Checkmark farve
            border: solid #2dffc4;
            //Giver L formen
            border-width: 0 3px 3px 0;
            //Laver L om til flueben form med animation hvor vi laver transform (se helpers)
            -webkit-animation: wobble-ver-right 0.8s both;
            animation: wobble-ver-right 0.8s both;
        }
    }
}

@mixin figure {
    @media (width < $mobile) {
        display: block;
    }

    figure {
        border: solid 0.5px #000;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.6);

        img {
            width: 90%;
            height: 30%;
            padding-top: 1em;
            @include center;

        }

        figcaption {

            padding: 1em;

            h4 {
                margin: 0;
                padding: 0;

                text-decoration: none;

            }

            p {
                display: block;

            }
        }
    }
}