@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto+Condensed:wght@300&display=swap');
//COLOR KODE
$black: #000;
$rosa: #FED9C9;
$brown: #AF7627;


//FONTS
$textFont: 'Roboto Condensed', sans-serif;
$navFont: 'Odibee Sans', cursive;


//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;